.googleimage{
    text-align: center;
    margin: 0 auto;
    width: 1500px;
    margin-top: 100px;
}
.googleSearch{
    text-align: center;
    margin: auto;
    padding: auto;
    margin-top: 10px;
    background-color: rgb(238, 238, 238);
    width: auto;

}

.container{
    width:auto; 
    margin: auto; 
    display: flex;
}

.bg-blue{
    background-color:rgb(0, 149, 255);

}

.bg-blue2{
    background-color: aqua;
}
.bg-blue3{
    background-color: aquamarine;
}

.box1{
    width: auto;
    height: auto;
    
    text-align: center;
    padding: 10px;
    float: center;
    margin: 3px;

}
.box2{
    width: 34%;
    height: 100px;
    
    text-align: center;
    padding: 10px;
    float: left;
    margin: 2px
}

.box3{
    width: 26%;
    height: 100px;
    
    text-align: center;
    padding: 10px;
    float: left;
    margin: 2px
    
}